.card {
    text-align: center;
    margin-top: 10px;
    border: solid black 1px;
    width: 400px;
    height: 200px;
    padding-top: 70px;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.selectLanguage {   
    width: 10%;
}