<div class="column">
  <p> This is an example of a bare bones version of lesson one page. </p>
  <p>  each lesson would be a package of materials with a video lesson component, flash cards, and a sentence list.</p>
  <p>  In the future (after having a lesson series with this minimum functionality) I would look to add:</p>
  <ol>
    <li>Automatic flash cards (hands free listening)</li>  
    <li>Dialogues</li>
    <li>gamification</li>
    <li>customization (trying to avoid user accounts but there are some advantages)</li>
    <li>lessons will not be panda sneezing videos necessarily</li>
    <li>More Languages to support ...someday</li>
  </ol>
</div>